**Lab Exercise 1 - Markdown and Python Basics**

# Introduction to Markdown

Colab has two types of cells: text and code. Text cells are formatted using sa simple markup language called Markdown.

## Bold, Italics and Underline
Surround the word with double asterisk to make it  **bold**.

Surround the word with single underscore to make it _italics_. You may use also the single asterisk to *italicized*.

## Paragraphs, Images, Hyperlinks
> Use the greater than symbol (>) to indent the paragraph. Strike two times enter key to move the next line.
>> If there is a sub paragraph, use the double grater than symbol.

Use the syntax "[Name of the link] (URL)" to include hyperlink in your notebook
Example: "[NEUVLE] (https://neuvle.neu.edu.ph)

Use the syntax ![Google Logo](https://pngimg.com/uploads/google/google_PNG102344.png)

Alternatively, you may use the img html tag: <br>
<img src = "https://pngimg.com/uploads/google/google_PNG102344.png" width=25%>

## Bullets

You may use the single dash to imetize.

The following topics will be discussed in Business Analytics:
- Descriptive Analytics
- Predictive Analytics
- Prescriptive Analytics

Or, use this format to put numbers

You must possess the skills below to learn its application:
1. Statistics
2. Python
3. Machine Learning

# Python Basics
Learn the basic of Python and its data types

## Input and Output

In [1]:
# Input name and display name
name = input("Enter name: ") # auto data type casting
print("Your name is", name) # first version of the print
print("\n" + name + " is your name") # second version
print(f"{name} is the name, soon it will be legend!")

age = 23 # integer
# print("Your age is " + age) # You can't combine integer to string
print(f"\nYour age is\t {age}") # python 3.6

Your name is Juliana

Juliana is your name
Juliana is the name, soon it will be legend!

Your age is	 23

## Data type

### String

In [2]:
name = "Juliana Mancera" # variable name name
print(f"Your name is {name}")
print(f"Data type of name is ", type(name))

Your name is Juliana Mancera
Data type of name is  <class 'str'>

### Integer

In [3]:
number = 5 # variable
print(f"Number {number} is an integer!")
print(type(number))

Number 5 is an integer!
<class 'int'>

### Float

In [4]:
# Decimal number
decimal_number = 12.1234567891011
print(f"Decimal number is {decimal_number}")
# float is also a double in python

# check data type
type(decimal_number)

Decimal number is 12.1234567891011

float

### Boolean

In [5]:
# True and False must be capital on the first letter
is_logged_in = True
print(is_logged_in)
print(is_logged_in == False)

# check data type
type(is_logged_in)

True
False

bool

### List (mutable - it can be changed)

In [6]:
year_level = [1,2,3] # use square bracker for list
print(f"Current year level list is {year_level}")

# append another year: 4
year_level.append(4)
print(f"Updated year level is {year_level}")

# check data type
type(year_level)

Current year level list is [1, 2, 3]
Updated year level is [1, 2, 3, 4]

list

### Tuple (immutable - can not be change)

In [7]:
dimensions = (10,20) # uses parenthesis
print(dimensions)
type(dimensions)

(10, 20)

tuple

### Dictionary

In [8]:
# uses key-value pair, curly braces
student = {name: "Maria", age: 21 , "program": "BSCS"}
print(f'Student name is {student[name]}')
print(f'Age is {student[age]}')
print(f'Program is {student["program"]}')

print(f"Student is a {type(student)}")

Student name is Maria
Age is 21
Program is BSCS
Student is a <class 'dict'>

### Set

In [9]:
setNumbers = {1,2,3,4} # use curly braces
print(setNumbers)
type(setNumbers)

{1, 2, 3, 4}

set